<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="myHorarioLabel">
                Crear o modificar Horario de Cursada
            </h2>

            <div *ngIf="horario">
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!horario.idHorario">
                    <label>ID</label>
                    <input type="text" class="form-control" name="idHorario" formControlName="idHorario" readonly>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Día</label>
                    <input type="text" class="form-control" name="dia"
                           formControlName="dia">

                    <div *ngIf="editForm.get('dia')!.invalid && (editForm.get('dia')!.dirty || editForm.get('dia')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dia')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Horario Inicio</label>
                    <input type="time" class="form-control" name="horarioInicio"
                           formControlName="horarioInicio">
                </div>

                <div class="form-group">
                    <label class="form-control-label">Horario Fin</label>
                    <input type="time" class="form-control" name="horarioFin"
                           formControlName="horarioFin">
                </div>

                <div class="form-group">
                    <label>Curso</label>
                    <select  class="form-control" multiple name="CursoIdCurso" formControlName="CursoIdCurso">
                        <option *ngFor="let curso of cursos" [value]="curso.idCurso">{{curso.materia?.nombre}}</option>
                    </select>
                </div>                    

            </div>

            <div *ngIf="horario">
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
