<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="myProfesorLabel">
                Crear o modificar un Profesor
            </h2>

            <div *ngIf="profesor">
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!profesor.id">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id" formControlName="id" readonly>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre"
                           formControlName="nombre">

                    <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" name="apellido"
                           formControlName="apellido">

                    <div *ngIf="editForm.get('apellido')!.invalid && (editForm.get('apellido')!.dirty || editForm.get('apellido')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Dni</label>
                    <input type="text" class="form-control" name="dni"
                           formControlName="dni">

                    <div *ngIf="editForm.get('dni')!.invalid && (editForm.get('dni')!.dirty || editForm.get('dni')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Domicilio</label>
                    <input type="text" class="form-control" name="domicilio"
                           formControlName="domicilio">

                    <div *ngIf="editForm.get('domicilio')!.invalid && (editForm.get('domicilio')!.dirty || editForm.get('domicilio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('domicilio')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Título</label>
                    <input type="text" class="form-control" name="titulo"
                           formControlName="titulo">

                    <div *ngIf="editForm.get('titulo')!.invalid && (editForm.get('titulo')!.dirty || editForm.get('titulo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Telefono</label>
                    <input type="text" class="form-control" name="telefono"
                           formControlName="telefono">

                    <div *ngIf="editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefono')?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

            </div>

            <div *ngIf="profesor">
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
