<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="curso">
            <h2>
                <span>curso</span> [<b>{{ curso.idCurso }}</b>]
            </h2>

            <dl class="row-md jh-entity-details">
                <dt><span>Curso</span></dt>
                <dd>
                    <span>{{ curso.idCurso }}</span>
                </dd>
                <dt><span>Materia</span></dt>
                <td>{{curso.materia?.nombre}}</td>

                <dt><span>Docente asignado</span></dt>
                <dd>{{ curso.datosDocente?.nombre }} {{ curso.datosDocente?.apellido }}</dd>

            </dl>

            <button type="submit" routerLink="../../" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
