<form *ngIf="user" name="resetForm" (ngSubmit)="confirmReset(user?.login!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar operación</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <p>Esta seguro que desea blanquear la password del usuario: {{user.login}} ?</p>
        <p>El nuevo password será: plataformaunla</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span>Confirmar</span>
        </button>
    </div>
</form>
