<div>
    <h2>
        <span id="alumnomateria-management-page-heading">Alumnos por Materias</span>
        
            <button class="btn btn-primary float-right jh-create-entity" (click)="exportExcel()">
                <fa-icon icon="book"></fa-icon> <span>Descargar</span>
            </button>
        
      
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="table-responsive" *ngIf="lstexamenes">
        <table id="excel" class="table table-striped" aria-describedby="examenes-management-page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" >
                    <th scope="col"  jhiSortBy="nombre"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inicioInscripcion"><span>Alumno</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finInscripcion"><span>Nota Cursada</span> <fa-icon icon="sort"></fa-icon></th>                                        
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="lstexamenes">
                <tr *ngFor="let examenes of lstexamenes">
                    <td>{{ examenes.examenesidExamenes }}</td>                    
                    <td>{{ examenes.datosAlumno?.nombre }} {{ examenes.datosAlumno?.apellido }} {{ examenes.datosAlumno?.dni }}</td>                    
                    <td>{{ examenes.nota }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button" (click)="calificarCursada(examenes,currentAccount)"
                                    class="btn btn-primary" 
                                    >
                                <fa-icon icon="save"></fa-icon>
                                <span class="d-none d-md-inline">Calificar</span>
                            </button> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  
</div>
