<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="examen">
            <h2>
                <span>examen</span> [<b>{{ examen.idExamenes }}</b>]
            </h2>

            <dl class="row-md jh-entity-details">
                <dt><span>Examen</span></dt>
                <dd>
                    <span>{{ examen.idExamenes }}</span>
                </dd>

                <dt><span>Fecha</span></dt>
                <dd>{{ examen.fecha }}</dd>

                <dt><span>Materia</span></dt>
                <td>{{examen.materias?.nombre}}</td>

                <dt><span>Docente asignado</span></dt>
                <dd>{{ examen.docenteAsignado?.nombre }} {{ examen.docenteAsignado?.apellido }}</dd>

                <dt><span>Horario inicio</span></dt>
                <dd>{{ examen.horarioInicio }}</dd>

                <dt><span>Horario fin</span></dt>
                <dd>{{ examen.horarioFin }}</dd>

                <dt><span>Inicio</span></dt>
                <dd>{{ examen.inicioInscripcion }}</dd>

                <dt><span>Fin</span></dt>
                <dd>{{ examen.finInscripcion }}</dd>

            </dl>

            <button type="submit" routerLink="../../" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
