<div>
    <h2>
        <span id="examenes-management-page-heading">Materias</span>

    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="table-responsive" *ngIf="lstexamenes">
        <table class="table table-striped" aria-describedby="examenes-management-page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                    <th scope="col"  jhiSortBy="nombre"><span>Materia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inicioInscripcion"><span>Fecha Inicio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finInscripcion"><span>Fecha Inicio</span> <fa-icon icon="sort"></fa-icon></th>                                        
                    <th scope="col"  jhiSortBy="planIdPlan"><span>Plan</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="formaAprobacionIdformaAprobacion"><span>Forma Aprobacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="lstexamenes">
                <tr *ngFor="let examenes of lstexamenes">                    
                    <td>{{ examenes.nombre }}</td>
                    <td>{{ examenes.inicioInscripcion }}</td>
                    <td>{{ examenes.finInscripcion }}</td>                                                                             
                    <td>{{ examenes.planIdPlan }}</td>
                    <td>{{ examenes.formaAprobacionIdformaAprobacion }} </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['./', examenes.idMateria, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="lstexamenes">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
    </div>
</div>
